/* body donner une taille et une largeur 100vh (mode plien ecran)  */
body {
  height: 100vh;
  width: 100%;
}
/* fin du body */

/* debut du container */
.container {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  width: 630px;
  margin: 30px;
  background-position-x: center;
}
/* fin du container */

/* debut du h1 */
h1 {
  letter-spacing: -2px;
  text-shadow: 2px 2px 5px rgb(255, 254, 253);
  font-family: Georgia, serif;
  text-decoration: underline;
}
/* fin du h1 */

/* debut de la class1 position fixed pour pas avoir le scroll-behavior*/
.class1 {
  background-image: url(../img/brownie-au-chocolat-filet-caramel-arrose-dessus_919652-2073.jpg);
  background-size: cover;
  background-position: 50% 80%;
  height: 100%;
  padding: 5px;
  width: 100%;
  position: fixed;
}
/* fin de la class1 */

/* debut du label */
label {
  color: wheat;
  padding-top: 25px;
  font-family: Georgia, serif;
  height: 60px;
  text-decoration: underline;
}
/* fin du label */

/* debut du button1 */
.button1 {
  text-align: center;
  font-family: Georgia, serif;
}
/* fin du button1 */

/* debut du button1 button */
.button1 button {
  background-color: #3a0701;
  color: white;
}
/* fin du button1 button */

/* debut de la class button1 et button hover le hover quand on passe dessus! */
.button1 button:hover {
  color: white;
  background-color: #3a0701;
}
/* fin de la class button1 */

/* debut de la class2 */
.class2 {
  background-image: url(../img/c27ce794ab5c57eceb709d973b886011.jpeg);
  background-size: cover;
  background-position: center;
  height: 93%;
  padding: 20px;
  width: 100%;
  position: relative;
  position: fixed;
}
/* fin de la class2 */
.form1 {
  position: absolute;
  left: 300px;
  top: 220px;
}
.button2 button {
  background-color: #3a0701;
  color: white;
}
.button2 button:hover {
  color: white;
  background-color: #3a0701;
}
.button2 {
  text-align: center;
  font-family: Georgia, serif;
}
.titre2 {
  letter-spacing: -2px;
  text-shadow: 2px 2px 5px rgb(255, 254, 253);
  font-family: Georgia, serif;
  text-decoration: underline;
  text-align: center;
}
.button3 button:hover {
  text-align: right;
  background-color: #3a0701;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
nav > div {
  display: flex;
  width: 25%;
  justify-content: end;
}
nav div:nth-child(2) {
  justify-content: center;
}
h2 {
  letter-spacing: -2px;
  text-shadow: 2px 2px 5px rgb(255, 254, 253);
  font-family: Georgia, serif;
  text-decoration: underline;
  color: white;
}
.navbar1 {
  margin-right: 10px;
}
.color1 {
  background-color: #3a0701;
  color: white;
}
.color1:hover {
  background-color: #3a0701;
  color: white;
}
.navbar2 {
  background-color: #3a0701;
}
.class3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  height: 600px;
}
.body1 {
  background-color: #562528;
}

.bg-gateau {
  background-image: url("https://img.freepik.com/photos-premium/gateau-au-chocolat-fraises-dessus_862994-525.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: fixed;
  top: 0;
  right: 0;
  width: 43%;
  height: 100%;
  z-index: -3;
}

.card {
  margin: 15px 15px;
}

.card img {
  height: 300px;
}
h5 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
p {
  margin-top: 5px;
}
.btn {
  background-color: #562528;
  color: white;
}
.btn:hover {
  background-color: #562528;
  color: white;
}

.card {
  position: relative;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.prix_gateau {
  position: absolute;
  top: 250px;
  left: 0;
  background-color: #562528;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 25px;
}
.card-text {
  margin-top: 10px;
  text-align: center;
  
}
.ajout_admin_gateau h1 {
  text-align: center;
  font-weight: bold;
  letter-spacing: -2px;
  text-shadow: 2px 2px 5px rgb(255, 254, 253);
  font-family: Georgia, serif;
  text-decoration: underline;
  padding-top: 25px;
}
.ajout_admin_gateau form {
  margin: auto;
  width: 600px;
}
.ajout_admin_gateau {
  background-image: url(../img/pile-brownies-au-chocolat-fond-rose_893012-41532.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 20px;
  width: 1000px;
  position: fixed;
}

.admin_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin_flex input[type="submit"] {
  margin: 20px 0;
}

.admin_flex label {
  margin: 3px;
}
/* panier 'i' color white */
i {
  color: white;
}
/* fin du panier 'i' */

.class4 {
  justify-content: center;
  display: flex;
  color: white;
  margin-top: 45px;
}
.panier {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.card-text1 {
  background-color: #562528;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 30px;
}
